.text-primary-book {
  color: #aa8c25 !important;
}

.fa-inverse-book {
  color: #000000;
}

#kindofbook {
  padding: 100px 0px;
  background: url("../../assets/img/Background/pexels-michelle-leman-6774546.jpg") center / cover no-repeat;
}

.section-heading.book {
  padding-bottom: 0px;
  margin-bottom: 4px;
}

.booklink {
  text-decoration: none;
}

.col-book:hover {
  box-shadow: 0px 0px 13px #fec504;
}

.booklink {
  color: rgba(0,0,0,0.88);
}

i.fa.fa-circle.fa-stack-2x.text-primary-book a:active, i.fa.fa-circle.fa-stack-2x.text-primary-book a:focus, i.fa.fa-circle.fa-stack-2x.text-primary-book a:hover {
  color: rgba(47,23,15,0.88) !important;
}

.section-heading-book-2 {
  padding-bottom: 28px;
}

@media (min-width: 1200px) {
  .section-heading-book-2 {
    padding-bottom: 0px;
  }
}

.col-book {
  background-color: rgba(251,231,222,0.25);
  border-radius: 40px;
  margin: 15px;
  box-shadow: 0px 0px 13px;
}

.section-headingbook {
  font-size: 50px;
  color: #fec504;
}

.mainbook {
  padding: 100px 0px 0px 0px;
  background: rgb(219,226,234);
  text-align: center;
  background: url("../../assets/img/Background/pexels-michelle-leman-6774546.jpg") center / cover no-repeat;
}

.fa.fa-circle.fa-stack-2x.text-primary-book {
  filter: blur(70px);
}

.col-book:hover .fa.fa-circle.fa-stack-2x.text-primary-book {
  filter: blur(20px);
}

.col-book:hover .fa-stack-1x.fa-inverse-book {
  color: #cfd1d8;
}

.booknameauthor {
  margin-top: 10px;
}

.iconbook:hover i {
  color: #2f170cfc;
  cursor: pointer;
}

.detailkindtop {
  opacity: 1;
  backdrop-filter: blur(10px);
  background: #2f170f83;
  border-radius: 40px;
  padding: 20px 0px;
}

.detailkind {
  opacity: 1;
  border-radius: 40px;
  padding: 20px 0px;
}

.iconbook {
  color: #cfd1d8;
}

.icon {
  color: rgb(255,255,255);
}

.bookdetail {
  margin: 15px;
}

.booklist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

