.text-primary-book {
  color: #aa8c25 !important;
}

.fa-inverse-book {
  color: #fbe7de;
}

#kindofbook {
  background-image: url("../../assets/img/Background/star-sky.jpg");
}

.section-heading.book {
  padding-bottom: 0px;
  margin-bottom: 4px;
}

.booklink {
  text-decoration: none;
}

div.col-book a:active, div.col-book a:focus, div.col-book a:hover {
  color: #fed136;
}

div.divbook a:active, div.divbook a:focus, div.divbook a:hover {
  box-shadow: 0px 0px 12px rgb(254,209,54);
}

div.colbook a:active, div.colbook a:focus, div.colbook a:hover {
  box-shadow: 0px 0px 12px rgb(254,209,54);
}

.booklink {
  color: rgba(47,23,15,0.88);
}

i.fa.fa-circle.fa-stack-2x.text-primary-book a:active, i.fa.fa-circle.fa-stack-2x.text-primary-book a:focus, i.fa.fa-circle.fa-stack-2x.text-primary-book a:hover {
  color: rgba(47,23,15,0.88) !important;
}

.section-heading-book-2 {
  padding-bottom: 28px;
}

@media (min-width: 1200px) {
  .section-heading-book-2 {
    padding-bottom: 0px;
  }
}

.divbook {
  background-color: rgba(251,231,222,0.25);
  border-radius: 40px;
  margin: 15px;
}

.section-headingbook {
  font-size: 50px;
  color: #fed136;
}

