body {
  overflow-x: hidden;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mainNav {
  background-color: #212529;
}

.bg-dark {
  background-color: #343a40 !important;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #e5bc31;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.intro-heading text-uppercase span {
  padding: 20px;
}

#page-top {
  background: rgba(227,192,164,0.54);
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro {
  position: relative;
}

.bg-faded {
  background-color: rgba(47,23,15,0.88);
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

p {
  line-height: 1.75;
}

@media (min-width: 992px) {
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
}

@media (min-width: 992px) {
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
}

a {
  color: #fed136;
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Raleway";
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 4rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 3rem;
  font-weight: 100;
  line-height: 4rem;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4, .team-member .h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

a:hover {
  color: #fec503;
}

section#contact .section-heading {
  color: #fff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

section h3.section-subheading, section .section-subheading.h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#contact .col-md-6 {
  padding: 0 15px;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 20px;
}

.form-control:focus {
  border-color: #ffe89b;
  box-shadow: 0 0 0 .25rem rgba(254,209,54,.25);
}

.form-text {
  color: #868e96;
}

#contact .col-md-6 {
  padding: 0 15px;
}

section#contact .form-group textarea.form-control {
  height: 231px;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(216,178,46,.5);
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  -ms-user-select: none;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(254,209,54,.25);
}

.btn-primary:hover {
  color: #000;
  background-color: #fed854;
  border-color: #fed64a;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #fed854;
  border-color: #fed64a;
  box-shadow: 0 0 0 .25rem rgba(216,178,46,.5);
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(254,209,55,.5) !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: #fff;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #feda5e;
  border-color: #fed64a;
}

svg.hover {
  opacity: 1;
}

.Tuan {
  padding-bottom: 25px;
}

@media (min-width: 992px) {
  .Tuan {
    padding-bottom: 0px;
  }
}

navbar-brand {
  display: none;
}

.logo:hover {
  opacity: 1;
}

section h2.section-heading, section .section-heading.h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(254,209,54,0.9);
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4, #portfolio .portfolio-item .portfolio-caption .h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  margin: 0;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#book * {
  z-index: 2;
}

.text-muted {
  color: #868e96 !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff;
}

.text-primary {
  color: #fed136 !important;
}

#services {
  box-shadow: 0px 0px 8px rgb(33, 37, 41);
  padding: 100px 0px;
  background: #ecd4ca;
}

#team {
  box-shadow: 0px 0px 8px #212529;
  padding: 100px 0px;
  background: #ecd4ca;
}

.colservices:not:first-child {
  margin-left: 5px;
}

#contact {
  padding: 100px 0px;
  background: url("../../assets/img/pexels-carmela-dinardo-1669648.jpg") center / cover no-repeat;
}

#portfolio {
  padding: 100px 0px;
}

