.player {
  background: linear-gradient(180deg, #fdbe83 0%, #c8a3b5 50%, #2f4e68 100%);
  justify-content: center;
}

.wrapper {
  width: 300px;
  background-color: rgba(255,255,255,0.23);
  box-shadow: 0px 6px 15px #393f4b;
  border-radius: 15px;
  padding: 25px 30px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(40px);
}

@media (min-width: 768px) {
  .wrapper {
    width: 830px;
    background-color: rgba(255,255,255,0.23);
    box-shadow: 0px 6px 15px #393f4b;
    border-radius: 15px;
    padding: 25px 30px;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(40px);
  }
}

.wrapper i {
  cursor: pointer;
}

.top-bar, .progress-area .timer, .controls, .book-list .header, .book-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  font-size: 30px;
  color: #515c6f;
}

.top-bar span {
  font-size: 18px;
  color: #161c26;
}

.img-area {
  height: 256px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 6px 15px #262c34;
  overflow: hidden;
  margin-top: 25px;
}

.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book-details {
  text-align: center;
  margin: 30px 0;
  color: #515c6f;
}

.book-details .name {
  font-size: 21px;
  margin-bottom: 0px;
  color: rgb(0,0,0);
}

.book-details .author {
  opacity: 0.90;
  font-size: 18px;
  margin-bottom: 0px;
  color: rgb(16,18,20);
}

.progress-area {
  height: 6px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
}

.progress-area .progress-bar {
  height: 100%;
  width: 50%;
  border-radius: inherit;
  background: linear-gradient(90deg, #b28474 0%, #0b1320 100%);
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background: #000;
  border-radius: inherit;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  background: inherit;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
}

.progress-area .timer {
  margin-top: 2px;
}

.timer span {
  font-size: 13px;
  color: #515c6f;
}

.controls {
  margin: 40px 0 5px;
}

.controls i {
  font-size: 28px;
  user-select: none;
  background: linear-gradient(90deg, #b28474 0%, #0b1320 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls i:nth-child(even) {
  font-size: 43px;
}

.controls #prev {
  margin-right: -13px;
}

.controls #next {
  margin-left: -13px;
}

.controls .play-pause {
  height: 54px;
  width: 54px;
  background: linear-gradient(#e6d9d7 0%, #cecaca 100%);
  box-shadow: 0 0 5px #304655;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-pause::before {
  height: 43px;
  width: 43px;
  content: "";
  position: absolute;
  border-radius: inherit;
  background: linear-gradient(90deg, #b28474 0%, #0b1320 100%);
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: inherit;
  background-clip: text;
  background: inherit;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book-list {
  position: absolute;
  left: 0;
  bottom: -55%;
  width: 100%;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
  transition: all 0.14s ease-out;
}

.book-list .show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.book-list .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: #515c6f;
}

.header .row i {
  cursor: default;
}

.header .row span {
  margin-left: 5px;
}

.header #close {
  font-size: 22px;
  color: #515c6f;
}

.book-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow-y: auto;
}

.book-list li {
  cursor: pointer;
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: #515c6f;
  border-bottom: 1px solid #e5e5e5;
}

.book-list ul li:last-child {
  border-bottom: 0px;
}

.book-list ul li .row span {
  font-size: 17px;
}

ul li .row span {
  opacity: 0.9;
}

ul li .audio-duration {
  font-size: 16px;
}

.book-list ul::-webkit-scrollbar {
  width: 0px;
}

h6 .prf .mb-2 .text-primary {
  color: rgba(47,23,15,0.88);
}

.fplayer {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}

