.bookname-ranking {
  text-transform: capitalize;
}

.star-rating {
  color: #fed136;
}

.ratingnumb {
  padding-left: 10px;
  color: #000000;
  font-size: x-large;
}

.bookranking {
  font-size: x-large;
  margin: 50px;
}

.filter {
  font-size: medium;
}

.filter {
  margin: 0 5px;
  color: #000000;
}

.menufilter {
  cursor: pointer;
}

.bookauthor-ranking {
  font-size: medium;
}

